# Trabalhando com Tuplas

Estrutura de dados semelhantes a listas, entretanto, as tuplas são imutáveis, não podem ser alteradas.
Podem conter dados de tipos diferentes e outras tuplas internamente. (tuplas aninhadas)

In [1]:
tupla1 = ()

In [2]:
tupla1

()

In [3]:
tupla1 = ('ferrari', 'onça', 19.30, 400)

In [4]:
tupla1

('ferrari', 'onça', 19.3, 400)

In [5]:
tupla = (10)
tupla

10

In [6]:
tupla1[0]

'ferrari'

In [7]:
tupla1[1], tupla1[2]

('onça', 19.3)

In [8]:
# Tuplas são imutáveis
tupla1[0] = 'Porshe'

TypeError: 'tuple' object does not support item assignment

In [9]:
tupla_aninhada = (1,2,3,(23,24,25))
tupla_aninhada

(1, 2, 3, (23, 24, 25))

In [10]:
tupla_aninhada[3]

(23, 24, 25)

In [12]:
tupla_aninhada[3][2]

25

### Operações Básicas

In [13]:
# Operação em tuplas - Multiplicação
tupla2 = tupla1 * 3
tupla2

('ferrari',
 'onça',
 19.3,
 400,
 'ferrari',
 'onça',
 19.3,
 400,
 'ferrari',
 'onça',
 19.3,
 400)

In [14]:
tupla_concatenada = tupla1 + tupla_aninhada
tupla_concatenada

('ferrari', 'onça', 19.3, 400, 1, 2, 3, (23, 24, 25))

In [15]:
#Chega se o elemento pertence a tupla
'ferrari' in tupla1

True

In [16]:
'porche' in tupla1

False

### Slicing

In [18]:
tupla1

('ferrari', 'onça', 19.3, 400)

In [19]:
# Percorre a tupla a do elemento de posição 2 até o fim
tupla1[2:]

(19.3, 400)

In [20]:
# Percorre a tupla do inicio até o elemento 1 (o valor 2 é apenas o limite, não sendo considerado)
tupla1[:2]

('ferrari', 'onça')

In [21]:
# A primeira posição sempre é onde vai iniciar
# A Segunda serve como limite
tupla1[1:3]

('onça', 19.3)

### Métodos Disponíveis

In [22]:
# Conta a frequencia de um elemento
tupla1.count('onça')

1

In [23]:
# Retorna a posição do elemento
tupla1.index(19.3)

2

In [24]:
#Retorna o tamanho da tupla
len(tupla1)

4

In [25]:

tupla2 = (2,3,4,679,50.3)

In [26]:
#Retorna o maior valor da tupla (tuplas de números)
max(tupla2)

679

In [27]:
#Retorna o menor valor da tupla (tuplas de números)
min(tupla2)

2

In [28]:

lista = [1,4,5,7,67.8,987,'Dados','Python']
lista

[1, 4, 5, 7, 67.8, 987, 'Dados', 'Python']

In [30]:
# Converter lista em tupla
tupla3 = tuple(lista)
tupla3

(1, 4, 5, 7, 67.8, 987, 'Dados', 'Python')

In [31]:
type(tupla3)

tuple