# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [ ]:
print("Eu sou Minerador de Dados!")

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [ ]:
a = 4
b = 2

print("Soma:",a+b)
print("Sub:",b-a)
print("Multi:",a*b)
print("Div:",b/a)

3) Imprima o tipo de um determinado valor inteiro.

In [ ]:
a = 5
print(type(a))
print(a)

4) Converta o valor passado anteriormente para o tipo float

In [ ]:
b = float(a)
print(type(b))
print(b)

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [ ]:
c = str(b)
print(type(c))
print(c)

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [ ]:
a = 2.898
b = 2.4545455 

print(round(a))
print(round(b,4))

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [ ]:
nome = "Leonardo"
print(nome)
nome = nome + " " + "Kawaguchi"
print(nome)
email, idade = "leonardo.kawaguchi@gmail.com", 33
print(email, idade)

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

R: Porque a palavra 'break' é uma palavra reservada na linguagem python, logo não pode ser utilizada como uma variável.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [ ]:
# Defina uma variavel com a string: "Python é uma maldição!" e imprima
frase = 'Python é uma maldição!'
print(frase)

In [ ]:
# Imprima o primeiro caracter da variavel.
frase[0]

In [ ]:
# Imprima os valores do primeiro caracter até o 6.
i = 0
while i < 6:
    print(frase[i])   
    i = i + 1

print(frase[0:6])

In [ ]:
# Faça a contagem de todos os caracteres utilizando uma única linha de comando.
len(frase)

In [ ]:
#Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
frase2 = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
frase2.count('dados')

In [ ]:
# Substitua o primeiro caracter da frase acima para maiúsculo
frase2.capitalize()

In [ ]:
# Quebre as palavras da frase separado por virgula, criando uma lista.
frase2.split(',')

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [15]:
# Cria uma lista de valores inteiros com o nome idades.
idades = [40,30,60,66] 
idades

[40, 30, 60, 66]

In [16]:
# Imprima apenas segundo elemento da lista.
idades[1]

30

In [17]:
# Imprima a contagem de valores da lista.
len(idades)

4

In [ ]:
# Substitua o valor do segundo elemento da lista e imprima o resultado.
idades[1] = 100
idades[1]

In [ ]:
# Imprima apenas os valores do segundo elemento em diante.
idades[1:]

In [ ]:
idades.pop()

In [ ]:
idades

In [2]:
# Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
salarios = [900,1200,1500,800,12587,10000]
salarios

[900, 1200, 1500, 800, 12587, 10000]

In [18]:
# Verifique se contém o valor 10000 na lista de salarios.
##salarios.count(10000) - Minha resposta
# Correta:
10000 in salarios

True

In [4]:
#Imprima o menor e maior valor da lista.
print(max(salarios))
print(min(salarios))

12587
800

In [5]:
# Adicione o valor 7000 a lista.
salarios.append(7000)
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [6]:
# Extenda a lista com dois novos elementos utilizando apenas um método.
salarios.extend([9000,5000])
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 9000, 5000]

In [13]:
# Imprima o índice do elemento de valor 800 da lista de salarios.
salarios.index(800)

8

In [9]:
# Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.
salarios.sort()
salarios

[800, 900, 1200, 1500, 5000, 7000, 9000, 10000, 12587]

In [12]:
# Ou salarios.sort(reverse=True)
salarios.reverse()
salarios

[12587, 10000, 9000, 7000, 5000, 1500, 1200, 900, 800]